@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");

// COLORS
$color-primary: #55c57a;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ccc;
$color-grey-dark-1: #777777;
$color-text: #333333;
$color-white: #ffffff;
$color-black: #000000;

// FONT
$font-primary: "Barlow", sans-serif;
$default-font-size: 1.6rem;

// MARGIN
$margin-bottom-sm: 2rem;
$margin-bottom-md: 4rem;
$margin-bottom-lg: 8rem;

$margin-top-sm: 2rem;
$margin-top-md: 4rem;
$margin-top-lg: 8rem;

// GRID
$grid-gap: 6rem;
